/* md.css */

body {
	font-family: "Tahoma", sans-serif;
	font-size: 12pt;
	width: 40em;
	background-color: #FFFFFF;
}

pre {
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	background-color: #FFECB3;
}

h1 { font-size: 18pt; }

h2 { font-size: 14pt; }

h3 { font-size: 12pt; }

h4 { font-size: 10pt; }

code { font-size: 10pt; }

.nobr { white-space: nowrap; }
